ion-card-title{
  text-align: center;
}
ion-card{
  height: 95%;
  margin-top: 2%;
 
 
}
ion-card-title{
  font-weight: 900;
}
ion-card-content{
  padding-top: 15%;
}
ion-list-header{
  text-align: center;
  font-weight: 900;

}