ion-card-title{ 
    
    text-align: left;
    padding-top: 2%;
    font-weight: 1000;
    font-size: 25px;
}
img{
    height: 50%;
    width: 100%;
}
ion-card{
    height: 1600px;
     margin-top: 2%;
     width: 80%;
    margin-left: 10%;
    
   }