<ion-header>
  <ion-toolbar >
    <ion-buttons  >
      <ion-back-button color="dark"> </ion-back-button>
    </ion-buttons>
    <ion-title>    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" />
      <ion-button color="light">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <h2> Depp  thakre</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="location-outline" color="medium">
          </ion-icon>
          <p>2345 Street, INDIA,  .</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>