ion-list-header{
    text-align: center;
    font-weight: 900;
 
}
ion-card-content{
    text-align: center;
  
}
ion-title{
    text-align: center;
}
ion-item{
    font-size: large;
    font-weight: 500;
  
}
ion-icon{
    font-size: large;
    color: rgb(189, 189, 189);
    padding-left: 12px;
}
ion-card{
    background-color: black;
}
 ion-modal{
    background-color: rgb(5, 5, 5);
 }
 